<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
  <listeners>
      <listener class-name = "utility.report" />
   </listeners>
 
  <test thread-count="5" name="Test">
  
   <classes>
    <class name="com.pack.TestCase">
      
      <methods>
      <include name="titleVerification"></include>
      <include name="loginProfile"></include>
      <include name="validateProfile"></include>
      <include name="searchProduct"></include>
      <include name="purchaseIphone"></include>
      <include name="goToCart"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
